<!DOCTYPE html>
<html>
	<head>
		<title>Breast Cancer Detection</title>
	</head>
	<body>
		<fieldset>
		<legend>
		<h1><ul>Breast Cancer Prediction</ul></h1><br>
		</legend>
		<form action = "http://localhost:5000/" method = "POST">
			<h3>Enter the following information properly to predict<h3>
			clump_thickness : <input type = "number", name = 'clump_thickness'><br>
			size_uniformity : <input type = "number", name = 'size_uniformity'><br>
			shape_uniformity : <input type = "number", name = 'shape_uniformity'><br>
			marginal_adhesion : <input type = "number", name = 'marginal_adhesion'><br>
			epithelial_size : <input type = "number", name = 'epithelial_size'><br>
			bare_nucleoli : <input type = "number", name = 'bare_nucleoli'><br>
			bland_chromatin : <input type = "number", name = 'bland_chromatin'><br>
			normal_nucleoli : <input type = "number", name = 'normal_nucleoli'><br>
			Mitoses : <input type = "number", name = 'Mitoses'><br>
			<input type = "Submit", value = "Submit">
		</form>
		</fieldset>
		{{ output }}
		<br><br><table>
		<tr>
			<th>Sample Inputs</th>
			<th>Output</th>
		<tr>
			<td>array([ 8, 10,  8,  8,  4,  8,  7,  7,  1]<br>array([ 6,  6,  6,  5,  4, 10,  7,  6,  2]<br>array([10,  4,  2,  1,  3,  2,  4,  3, 10]</td>
			<td>Output should be 1:Malignant</td>
		</tr>
		
		<tr>
			<td><br>array([ 2, 1,  1,  1,  1,  1,  2,  1,  1]<br>array([1, 1, 1, 1, 2, 1, 2, 1, 2]<br>array([3, 1, 1, 1, 2, 2, 3, 1, 1]</td>
			<td>Output should be 0:Benign</td>
		</tr>
		</table>
	</body>
</html>